<h3> Testando incremento e decremento com clicks</h3>
<div>
  <button class="button is-info" :on-click="dec"> - </button>
  <button class="button is-info" :on-click="inc"> + </button>
  <button class="button is-danger" :on-click="reset">Reset</button>
</div>