<div class="principal">
  <div class="flex-container" id="direction">
    <div class="ui two column divided grid">
      <div class="column">
        <p>Parte Esquerda do Perfil</p>
        <p>11</p>
      </div>
      <div class="column">
        <p>Biografia do Pesquisador</p>
        <p>22</p>
      </div>
    </div>
  </div>
</div>